body{
  padding:0;
  background: #090719; 
  height: 100%;
  width: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.overlay {
	position: relative;
}

.svgContainer{
	padding-top: 2em;
	display: inline-block;
	position: relative;
	width: 100%;
}

.svgbg {
	display: block; 
	position: absolute;
	width: 100%; 
	top: 0;
	left: 0;
}

/* copied */ 

* {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 1.0em;
	
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
	
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Text */
p {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/* Text Formatting */
form {
	margin-top: 1.15em;
}

fieldset {
    float:left;
    display: block;
    margin-right: 2px;
    margin-left: 2px;
	
	border: 2px solid;
    border-bottom: 0px;
    border-color: #98bdac;
	
    padding-bottom: 4px;
    padding-left: 1em;
    padding-right: 1em;
}

legend {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    font-style: italic;
}

table {
    border-spacing: 0px;
}

td.vital {
    text-align: right;
    width: 35%;
}

.resCounter {
	float: right;
	text-align: right;
}

.resLabel {
	float: left;
	text-align: left;
}

/* GUI */
.bar {
    height: 1em;
	white-space: nowrap; 
	clear: both;
}

.clicker {
    cursor: pointer;
    cursor: hand;
    font-style: italic;
}

/* Content Structure */
#sidebar {
    width: 16%;
    margin-left: 9%;
    display: block;
	visibility: hidden;
    float: left;
}

#header {
	display: none;
}

button:focus {
  outline: 0;
}